/* ------------ESTILOS PERSONALIZADOS-------------------- */

header {
  background-color: #1e7013;
}

.contenedor {
  width: 90%;
  margin: auto;
  display: flex;
	justify-content:space-between;
	align-items:center; 
}

.brandName {
  display: contents;
}

.brandLogo {
  width: 15%;
  padding: 10;
}

.menu {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content:space-between;
}

.menu  a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.menu  a:hover {
  text-decoration: underline;
}

/* Estilos del carrito */

.shoppingCart {
  margin-right: 30px;
  color: white;
  opacity: 0.7;
  font-size: 30px;
}

.shoppingCart:hover {
  opacity: 1;
}